<%= f.text_field(:name, placeholder: "Name") %>
<%= f.text_field(:position, placeholder: "Position") %>
<div class="form-field-group">
  <span>Completed</span>
  <%= f.check_box(:completed) %>
</div>

<select name="task[category_id]" id="task_category">
  <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.name %></option>
  <% end %>
</select>

<%= f.text_area(:description, placeholder: "Description") %>