<div class="page_wrap">
  <header>
    <h2>Update experience</h2>
  </header>

  <%= form_with(model: @feature) do |feature_field| %>
    <!-- Fields for the Feature model -->
    <div class="form_top_row">
      <div class="form_field">
        <%= feature_field.label("Name") %>
        <%= feature_field.text_field(:name, :autocomplete => "off") %>
      </div>

      <!-- Fields for the Enabled model -->
      <% if @feature.enabled %>
        <%= feature_field.fields_for(:enabled, @feature.enabled) do |enabled_field| %>
          <div class="form_field switch_field">
            <%= enabled_field.label("Enabled") %>

            <div class="switch_container">
              <label class="switch">
                <%= enabled_field.check_box(:is_enabled) %>
                <span class="slider"></span>
              </label>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form_field">
      <%= feature_field.label("Description") %>
      <%= feature_field.text_area(:description) %>
    </div>

    <!-- Fields for the Condition model -->
    <% if @feature.condition %>
      <%= feature_field.fields_for(:condition, @feature.condition) do |condition_field| %>
        <div class="form_field">
          <%= condition_field.label(condition_field.object.name) %>
          <%= condition_field.text_field(:conditions, :autocomplete => "off") %>
        </div>
      <% end %>
    <% end %>

    <div class="button_row">
      <%= link_to("Cancel", "/features", class: "button button_secondary") %>
      <%= feature_field.submit("Save", class: "button button_primary") %>
    </div>
  <% end %>
</div>
