<p style="color: green"><%= notice %></p>

<header>
  <h1>☑ Todos</h1>
</header>

<ul class="list-container">
  <% @todo_lists.each do |todo_list| %>
    <li class="app-index_list-item" id="<%= dom_id todo_list %>">
      <%= link_to(todo_list) do %>
        <h4><%= todo_list.title %></h4>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New list", new_todo_list_path, class: "button" %>
