<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager<%= ' - ' + yield(:title) if content_for?(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield(:script) %>
  </head>

  <body>
    <header>
      <%# <h3 class='header-logo'>Task Manager</h3> %>
      <%= link_to(menu_path) do %>
        <%= image_tag('tasky-logo-white.png', class: 'logo') %>
      <% end %>
      <% if session[:user_id].present? %>
        <div class='header-right'>
          <p><%= @username %></p>
          <%= button_to('Logout', logout_path, {method: :delete}) %>
        </div>
      <% end %>
    </header>

    <% if flash[:notice].present? %>
      <div class='flash-notification'><%= flash[:notice] %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      Copyright <%= Time.now.year %>
    </footer>
  </body>
</html>
